<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Person Name</ion-label>
    <ion-input [(ngModel)]="personName" type="text"
               placeholder="Name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Birthday</ion-label>
    <ion-datetime displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY"
                  [(ngModel)]="birthday">
    </ion-datetime>
  </ion-item>


  <button ion-button block (click)="takePicture()"> take a Pic</button>

  <button ion-button block
          (click)="createPersonWithBirthday(personName, birthday)">
    Create Person
  </button>

  <ion-list>
    <ion-item *ngFor="let person of personList">
      <h2>{{person?.name}}</h2>
      <p>{{person?.birthday}}</p>
    </ion-item>
  </ion-list>
</ion-content>
