<!--
  Generated template for the FormsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>forms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <ion-item>
      <ion-label>Account</ion-label>
      <ion-select
        [(ngModel)]="account"
        name="account"
      >

        <ion-option *ngFor="let account of accounts"
                    [value]="account.id"
        >
          {{account.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select
        [(ngModel)]="category"
        name="category"
        multiple
      >

        <ion-option *ngFor="let category of categories"
          [value]="category.id"
        >
          {{category.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Comment</ion-label>
      <ion-input type="text"
                 [(ngModel)]="comment"
                 name="comment"
                 placeholder="Comment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number"
                 ngModel
                 name="amount"
                 placeholder="Amount"
                 [disabled]="!category"
                 pattern="[0-9]*"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY"
                    [(ngModel)]="date" name="date">
      </ion-datetime>
    </ion-item>

    <button ion-button block [disabled]="!form.valid">Submit</button>

  </form>

  <h2>Account Balance</h2>
  <h3>
    {{calculateBalance() | currency:'EUR'}}
  </h3>

  <ion-list>

  </ion-list>

  <ion-card>
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>

